 *{
    margin: 0;
    padding: 0;
} 

body {
    background: #e9ecf4;
    color: #000;
    font-family: 'roboto', sans-serif;
    background: rgb(174,238,207);
    background: radial-gradient(circle, rgba(174,238,207,1) 0%, rgba(0,135,171,1) 100%);
    


}

.contenedor {
    width:  100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);



}
.contenedor > div,
.contenedor .menu
.contenedor .footer {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    

}
.contenedor .menu {
    background: #0087AB;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0; 
    width: 100%;
    float: left;
    
    

}

.contenedor .bienvenido {
    width: 870px;
    height: 360px;
    grid-column-start: 1;
    grid-column-end: 2;
    background: rgb(0,135,171);
    background: linear-gradient(180deg, rgba(0,135,171,1) 36%, rgba(111,198,182,1) 77%);
    margin-top: 150px;
    



}

.imagen_homebanking {
    width: 870px;
    height: 360px;
}


.contenedor .login {
    background: rgb(0,135,171);
    background: linear-gradient(180deg, rgba(0,135,171,1) 36%, rgba(0,171,163,0.40940126050420167) 74%);
    color: #fff;
    grid-column: 2 / 2;
    text-align: center;
    margin-top: 150px;
    margin-left: 100px;
    box-shadow: 12px 12px 12px 1px rgba(54,54,54,0.69);
-webkit-box-shadow: 12px 12px 12px 1px rgba(54,54,54,0.69);
-moz-box-shadow: 12px 12px 12px 1px rgba(54,54,54,0.69);
    
    
    
}
.contenedor .bienvenido {
    width: 100%;
}
.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;  
    display: block;
}
.menu li {
    display: inline-block;
    text-align: center;

}   
.menu li a:hover {
    background: #ef8354;
}
.form-register {
    width: 400px;
    text-shadow:0px 1px 0px #0c1418;
    padding: 30px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    
}
.form-register h1 {
    font-size: 45px;
    align-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}
.controls {
    width: 100%;
    background:#b1bdd6;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #0087AB;
    font-family: 'calibri';
    font-size: 18px;
    color: black; 
}
.form-register p {
    height: 2px;
    text-align: center;
    font-size: 18px;
    line-height: 2px;
}
.form-register a {
    color: white;
    text-decoration: none;

}
.form-register a:hover {
    color: white;
    text-decoration: underline;
}
.form-register .botons {
    width: 100%;
    margin: 16px 0;
    font-size: 16px;
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    border: none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-weight:bold;
    padding:13px 32px;
    text-shadow:0px 1px 0px #3d768a;
    }
    
    .botons:hover {
        background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        background-color:#408c99;
    }
    .botons:active {
        position:relative;
        top:1px;
    }